    <!-- Static navbar -->
    <div class="header">
        <h1>
            <img src="/Styles/images/pac.png"><a href="/index.html">RETROTAP</a><img src="/Styles/images/inky.png"><img src="/Styles/images/blinky.png"><img src="/Styles/images/pinky.png"><img src="/Styles/images/clyde.png">
        </h1>
        <div class="menu">
            <ul>
                <li><a href="/reviews.html">Reviews</a></li>
                <li><a href="/about.html">About</a></li>
            </ul>
        </div>
    </div>
